<div class='detail-page' *ngIf='photo; else errorBlock'>
    <img class='detailed-photo' src='{{photo.img_src}}' alt='{{photo.rover.name + " " + photo.camera.name + " " + photo.id}}'>
    <div class='info'>
        <div class='rover-info'>
            <div class='info-title'>{{photo.rover.name}} Rover</div>
            <div class='info-details'>Launched on: {{photo.rover.launch_date}}</div>
            <div class='info-details'>Landed on: {{photo.rover.landing_date}}</div>
            <div class='info-details'>Status: {{photo.rover.status}}</div>
        </div>
        <div class='photo-info'>
            <div class='info-title'>Camera: {{photo.camera.full_name}} ({{photo.camera.name}})</div>
            <div class='info-details'>Taken on Earth date: {{photo.earth_date}}</div>
            <div class='info-details'>Taken on Sol: {{photo.sol}}</div>
        </div>
    </div>
    <div class='back-button' (click)='goBack()'>Back</div>
</div>

<ng-template #errorBlock>
    <div class='error-block'>
        <div class='info-title'>Something happened! Please navigate back to the main page.</div>
        <div class='back-button' (click)='goBack()'>Back</div>
    </div>
</ng-template>