@import '../../../styles.scss';

.home {
    @include flex-base(column);
    width: 60vw;
    margin: 1rem auto 5rem auto;
    padding-bottom: 2rem;
}

.home-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.date-form {
    @include flex-base(column);
    margin-bottom: 2rem;
}

.form-field {
    @include flex-base(row);
    font-size: 1.25em;
    margin-bottom: 1rem;
    width: 25rem;
    justify-content: space-between;
}

.field-name {
    margin-right: 2rem;
}

.date-input {
    font-size: 1em;
    background: #fff;
}

.search-button {
    @include button-base($primary, #fff);
}

.photo-list {
    width: 60vw;
    margin-bottom: 2rem;
}

.loader{
    margin: 4rem;
}

.select {
    font-size: 1em;
    background: #fff;
}

.date-info {
    font-size: 1em;
    margin-bottom: 2rem;
}